---
layout: default
---

{% assign page_in_nav = false %}
{% for item in site.data.navigation.main %}
  {% assign url_parts = item.url | split: "#" %}
  {% assign nav_url = url_parts[0] %}
  {% if nav_url == "" %}{% assign nav_url = "/" %}{% endif %}
  {% if page.url == nav_url %}
    {% assign page_in_nav = true %}
  {% endif %}
{% endfor %}

{% if page_in_nav %}
{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>
{% else %}
<script>window.location.href = "/";</script>
<noscript><meta http-equiv="refresh" content="0; url=/" /></noscript>
{% endif %}
